# Importing Libraries

In [89]:
import pandas as pd
#importing liabraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import seaborn as sns
import matplotlib.pyplot as plt

## Importing dataset

In [80]:
df=pd.read_csv('mldata.csv')
df.tail()

      age  height  weight  gender likeness
240  31.0   160.0    60.0    Male   Pakora
241  26.0   172.0    70.0    Male  Biryani
242  40.0     5.8    80.0    Male  Biryani
243  25.0     5.7    65.0    Male  Biryani
244  33.0   157.0    56.0  Female   Samosa

### Making dummy variables

In [81]:
df['gender'] = df['gender'].replace("Male", 1)
df['gender'] = df['gender'].replace("Female", 0)
df.head()

    age   height  weight  gender likeness
0  27.0  170.688    76.0       1  Biryani
1  41.0  165.000    70.0       1  Biryani
2  29.0  171.000    80.0       1  Biryani
3  27.0  173.000   102.0       1  Biryani
4  29.0  164.000    67.0       1  Biryani

### Selecting variablles for Input and output

In [82]:
#Selection of input and output variable
X=df[['age', 'height','weight', 'gender']]
y=df['likeness']

In [83]:
X.head()

    age   height  weight  gender
0  27.0  170.688    76.0       1
1  41.0  165.000    70.0       1
2  29.0  171.000    80.0       1
3  27.0  173.000   102.0       1
4  29.0  164.000    67.0       1

In [84]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

### Creating and Fitting the model

In [85]:
#machine learning algorithm
from sklearn.tree import DecisionTreeClassifier
#create and fit
model= DecisionTreeClassifier().fit(X,y)
#prediction
model.predict([[33.0,	157.0, 56.0, 0]])

C:\Users\Faiza\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Samosa'], dtype=object)

In [86]:
#How to train and save your model
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

model = DecisionTreeClassifier().fit(X,y)
joblib.dump(model, "foodie.joblib")

['foodie.joblib']

In [87]:
#graph
from sklearn import tree
model = DecisionTreeClassifier().fit(X,y)
#Graphic evaluation LOOK
tree.export_graphviz(model,
                    out_file="foodData.dot",
                    feature_names=['age', 'gender', 'height', 'weight'],
                    class_names=sorted(y.unique()),
                    label=True,
                    filled=True)
# Done till here

### Importing and running model

- Done

In [88]:
joblib_model_file = joblib.load('foodie.joblib')
joblib_model_file

DecisionTreeClassifier()