In [90]:
#import libraries
import pandas as pd
df=pd.read_csv('mldata.csv')
df.tail()

      age  height  weight  gender likeness
240  31.0   160.0    60.0    Male   Pakora
241  26.0   172.0    70.0    Male  Biryani
242  40.0     5.8    80.0    Male  Biryani
243  25.0     5.7    65.0    Male  Biryani
244  33.0   157.0    56.0  Female   Samosa

In [91]:
df['gender'] = df['gender'].replace("Male", 1)
df['gender'] = df['gender'].replace("Female", 0)
df.head()

    age   height  weight  gender likeness
0  27.0  170.688    76.0       1  Biryani
1  41.0  165.000    70.0       1  Biryani
2  29.0  171.000    80.0       1  Biryani
3  27.0  173.000   102.0       1  Biryani
4  29.0  164.000    67.0       1  Biryani

In [92]:
df.head()

    age   height  weight  gender likeness
0  27.0  170.688    76.0       1  Biryani
1  41.0  165.000    70.0       1  Biryani
2  29.0  171.000    80.0       1  Biryani
3  27.0  173.000   102.0       1  Biryani
4  29.0  164.000    67.0       1  Biryani

In [99]:
#Selection of input and output variable
X=df[['weight', 'gender']]
y=df['likeness']

In [94]:
X.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [100]:
#model and prediction
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=4)

#Train the model using the training sets
model.fit(X, y)
#predicted Output

predicted = model.predict([[56, 0]]) #70: weight, 1: gender
predicted

C:\Users\Faiza\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [101]:
#metrices for evaluation
#spilt data into test and train(80/20)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test, = train_test_split(X, y, test_size=0.2) #80 and 20%

#create model
model=KNeighborsClassifier()
#fitting the model
model.fit(X_train, y_train)

predicted_values = model.predict(X_test)
predicted_values

#cheking score
#y_test = actual values

score=accuracy_score(y_test, predicted_values)
print("The accuracy socre for our model is =", score)

The accuracy socre for our model is = 0.6938775510204082

In [102]:
#metrices for evaluation
#spilt data into test and train(80/20)
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

X_train, X_test, y_train, y_test, = train_test_split(X, y, test_size=0.2) #80 and 20%

#create model
model=KNeighborsClassifier()
#fitting the model
model.fit(X_train, y_train)

predicted_values = model.predict(X_test)
predicted_values

#cheking score
#y_test = actual values

score=f1_score(y_test, predicted_values, average="macro")
print("The  f1_socre for our model is =", score)

The  f1_socre for our model is = 0.3451589061345159

In [104]:
#metrices for evaluation
#spilt data into test and train(80/20)
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score

X_train, X_test, y_train, y_test, = train_test_split(X, y, test_size=0.2) #80 and 20%


#create model
model=KNeighborsClassifier()
#fitting the model
model.fit(X_train, y_train)

predicted_values = model.predict(X_test)
predicted_values

#cheking score
#y_test = actual values

scores=recall_score(y_test, predicted_values, average="micro")
print("The Recall socre for our model is =", score)

The Recall socre for our model is = 0.3451589061345159

In [ ]:
#metrices for evaluation
#spilt data into test and train(80/20)
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score

X_train, X_test, y_train, y_test, = train_test_split(X, y, test_size=0.2) #80 and 20%


#create model
model=KNeighborsClassifier()
#fitting the model
model.fit(X_train, y_train)

predicted_values = model.predict(X_test)
predicted_values

#cheking score
#y_test = actual values

scores=precision_score(y_test, predicted_values, average="micro")
print("The Precision for our model is =", score)