# Import liabraries

In [ ]:
import pandas as pd
import numpy as np

## Coding

In [ ]:
# object creation
s= pd.Series([1,3, np.nan ,5, 8,9])
s

In [ ]:
dates = pd.date_range("20130101", periods=20)
dates

In [ ]:
dates = pd.date_range("20130101", periods=20)
dates
df = pd.DataFrame(np.random.randn(20,4), index=dates, columns=list("ABCD") )
df

# Dataframe

In [ ]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20220111"),
        "C": pd.Series(1, index=list(range(4)), dtype="int32"),
        "D": np.array([3] * 4, dtype= "int32"),
        "E": pd.Categorical(["pandas", "numpy", "pandas", "numpy"]),
        "F": "Name", 
    }
)

df2

In [ ]:
df2.dtypes

In [ ]:
df.head(8)

In [ ]:
df.index

In [ ]:
df.to_numpy()

In [ ]:
df2.to_numpy()

In [132]:
df["A"]

2013-01-01    0.498972
2013-01-02    0.184482
2013-01-03    0.595099
2013-01-04    0.140132
2013-01-05    0.577525
2013-01-06   -0.042213
2013-01-07    0.348811
2013-01-08    0.834119
2013-01-09   -0.062869
2013-01-10   -2.327513
2013-01-11    2.032724
2013-01-12   -0.615170
2013-01-13   -0.365562
2013-01-14   -1.186304
2013-01-15   -0.240138
2013-01-16    0.186998
2013-01-17   -0.521013
2013-01-18    0.871613
2013-01-19   -0.063147
2013-01-20   -0.957764
Freq: D, Name: A, dtype: float64

In [ ]:
df2.T

#Transpose

In [ ]:
df.sort_values(by="B")

In [133]:
#Select by rows
df[0: 3]

                   A         B         C         D
2013-01-01  0.498972 -0.378236 -0.291191 -0.671387
2013-01-02  0.184482  0.473579  0.532304 -0.969995
2013-01-03  0.595099 -0.818421  0.046641  0.642164

In [134]:
#date wise data
df.loc[dates[0]]

A    0.498972
B   -0.378236
C   -0.291191
D   -0.671387
Name: 2013-01-01 00:00:00, dtype: float64

In [136]:
df.loc[:, ["A","B"]]

                   A         B
2013-01-01  0.498972 -0.378236
2013-01-02  0.184482  0.473579
2013-01-03  0.595099 -0.818421
2013-01-04  0.140132  0.730011
2013-01-05  0.577525 -1.708662
2013-01-06 -0.042213  1.686116
2013-01-07  0.348811  0.287805
2013-01-08  0.834119 -0.214274
2013-01-09 -0.062869 -0.434911
2013-01-10 -2.327513  0.318159
2013-01-11  2.032724  1.636125
2013-01-12 -0.615170  2.238424
2013-01-13 -0.365562  1.183129
2013-01-14 -1.186304 -0.449990
2013-01-15 -0.240138  1.144714
2013-01-16  0.186998 -1.497591
2013-01-17 -0.521013  0.088177
2013-01-18  0.871613 -0.366851
2013-01-19 -0.063147 -0.208630
2013-01-20 -0.957764  0.623122

In [138]:
df.at[dates[16], "B"]

0.0881768715241928

In [139]:
df.iloc[0:5, 0:3]

                   A         B         C
2013-01-01  0.498972 -0.378236 -0.291191
2013-01-02  0.184482  0.473579  0.532304
2013-01-03  0.595099 -0.818421  0.046641
2013-01-04  0.140132  0.730011  0.361841
2013-01-05  0.577525 -1.708662  2.209634

df.iloc[0:5, 0:3]

In [140]:
df[df["A"]>0]

                   A         B         C         D
2013-01-01  0.498972 -0.378236 -0.291191 -0.671387
2013-01-02  0.184482  0.473579  0.532304 -0.969995
2013-01-03  0.595099 -0.818421  0.046641  0.642164
2013-01-04  0.140132  0.730011  0.361841 -1.328102
2013-01-05  0.577525 -1.708662  2.209634  0.642630
2013-01-07  0.348811  0.287805  0.622503 -0.090979
2013-01-08  0.834119 -0.214274 -1.903454  0.000842
2013-01-11  2.032724  1.636125 -1.269153  0.090918
2013-01-16  0.186998 -1.497591 -0.661398 -0.366528
2013-01-18  0.871613 -0.366851  0.797106  1.121654

# 2 string  df[df["A"]>0]

# df2["mean"]=[df2["B"]+1]